<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="komaapp.komaprojekt" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/gudappen"
        android:label="GUDAPPEN"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Huvudmeny"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Upgrades"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="in.wptrafficanalyzer.Upgrades" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Game"
            android:label="KomaProjekt" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Launcher"
            android:label="@string/title_activity_launcher" >
        </activity>
    </application>

</manifest>
